<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="LexibotEntities"
         providerName="System.Data.SqlClient"
         connectionString="Server=HOST-PC\DEV; Database=Lexibot; User Id=sa;Password=dev"/>
  </connectionStrings>
</configuration>